@import "../../css/colors.css";

.modal-content {
    max-width: 750px;
}

.body {
    background: $ui-white;
    padding: 1.5rem;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
.centered {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

[theme="dark"] .body {
    color: $text-primary;
    background: $ui-primary;
}

/* For small screens, such as in the embed */
@media (max-height: 600px) {
    .modal-content {
        margin: 50px auto;
    }
    .body {
        max-height: calc(100vh - 150px);
    }
}


.label {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label-unset-height {
    height: initial;
}

.info {
    margin-bottom: 0.25rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}
.divider {
    flex-grow: 1;
    margin-left: 1rem;
    border-top: 1px dashed $ui-tertiary;
}

.button {
    font-family: inherit;
    font-size: 14px;
    background-color: $motion-primary;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

.button:active, .button:focus-within {
    box-shadow: 0 0 0 3px $motion-transparent;
}

.warning {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 4px;
    background: rgb(233, 233, 53);
}
[theme="dark"] .warning {
    background: rgb(114, 102, 0);
}

.manage-extensions {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid $ui-black-transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
}
.manage-extensions-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    overflow-wrap: anywhere;
}

.manage-extensions-buttons {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.manage-extensions-button {
    background: none;
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manage-extensions-button:hover {
    background-color: $ui-black-transparent;
}
.manage-extensions-button img {
    display: block;
    width: 100%;
    height: 100%;
}